<%= form_with model: @buffet_registration do |form| %>
  <div>
    <%= form.label :trading_name %>
    <%= form.text_field :trading_name %>
  </div>
  <div>
    <%= form.label :company_name %>
    <%= form.text_field :company_name %>
  </div>
  <div>
    <%= form.label :cnpj %>
    <%= form.text_field :cnpj %>
  </div>
  <div>
    <%= form.label :phone %>
    <%= form.text_field :phone %>
  </div>
  <div>
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>
  <div>
    <%= form.label :public_place %>
    <%= form.text_field :public_place %>
    <%= form.label :address_number %>
    <%= form.text_field :address_number %>
    <%= form.label :neighborhood %>
    <%= form.text_field :neighborhood %>
  </div>
  <div>
    <%= form.label :state %>
    <%= form.text_field :state %>
    <%= form.label :city %>
    <%= form.text_field :city %>
    <%= form.label :zip %>
    <%= form.text_field :zip %>
    <%= form.label :complement %>
    <%= form.text_field :complement %>
  </div>
  <div>
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>
  <div>
    Escolha as Formas de Pagamento Aceitas:
    <div>
      <%= form.fields_for :payment_method, @buffet_registration.payment_method || PaymentMethod.new do |form_method| %>
        <% @payment_method_availables.each do |payment| %>
          <%= form_method.check_box payment.to_sym %>
          <%= form_method.label payment.to_sym %>
        <% end %>
      <% end %>    
    </div>
  </div>
  <%= form.submit  "Salvar" %>
<% end %>
