<h3>Dados do <%= @buffet_registration.trading_name %>: </h3>
<dl>
  <dt>Nome Fantasia:</dt>
    <dd><%= @buffet_registration.trading_name %></dd>
  <% if @buffet_registration.user == current_user %>
    <dt>Razão Social:</dt>
    <dd><%= @buffet_registration.company_name %></dd>
    <dt>Status:</dt>
    <dd><%= t(@buffet_registration.available) %></dd>
  <% end %>
  <dt>CNPJ:</dt>
    <dd><%= @buffet_registration.cnpj %></dd>
  <dt>Telefone:</dt>
    <dd><%= @buffet_registration.phone %></dd>
  <dt>E-mail:</dt>
    <dd><%= @buffet_registration.email %></dd>
  <dt>Logradouro:</dt>
    <dd><%= @buffet_registration.public_place %></dd>
  <dt>N°:</dt>
    <dd><%= @buffet_registration.address_number %></dd>
  <dt>Bairro:</dt>
    <dd><%= @buffet_registration.neighborhood %></dd>
  <dt>Estado:</dt>
    <dd><%= @buffet_registration.state %></dd>
  <dt>Cidade:</dt>
    <dd><%= @buffet_registration.city %></dd>
  <dt>CEP:</dt>
    <dd><%= @buffet_registration.zip %></dd>
  <dt>Complemento:</dt>
    <dd><%= @buffet_registration.complement %></dd>
  <dt>Descrição:</dt>
    <dd><%= @buffet_registration.description %></dd>
  <dt>Formas de pagamento aceitas:</dt>
    <% @payment_method_availables.each do |method| %>
      <% if @payment_method[method.to_sym]  %>
          <dd><%=  PaymentMethod.human_attribute_name(method) %></dd>
      <% end %>
    <% end %>  
</dl>


<% if  @buffet_registration.user == current_user%>
  <%= button_to "Editar Informações do Buffet", edit_buffet_registration_path(@buffet_registration), method: :get %>
  
  <% if @buffet_registration.active? %>
    <%= button_to "Desativar Buffet" , desactive_buffet_registration_path(@buffet_registration) %>
  <% else %>
    <%= button_to "Ativar Buffet" , active_buffet_registration_path(@buffet_registration) %>
  <% end %>
  
<% end %>


<%= render '/event_types/card' %>

<%= button_to "Voltar", root_path, method: :get %>