<h1> <%= @buffet_registration.trading_name %> </h1>
<ul>
  <li> <strong>CNPJ:</strong> <%= @buffet_registration.cnpj %> </li>
  <li> <strong>Telefone:</strong> <%= @buffet_registration.phone %> </li>
  <li> <strong>Endereço:</strong> <%= @buffet_registration.full_address %> </li>
</ul>
<%= button_to "Vê", @buffet_registration, method: :get %>