
<% if locals[:insider] %>
  
    <div id = "insiderBuffet">

    <h3>Endereço do Buffet:</h3>
    <p>
      <strong>Logradouro:</strong> <%= @buffet_registration.public_place %> 
      <strong>N°:</strong> <%= @buffet_registration.address_number %> 
      <strong>Bairro:</strong> <%= @buffet_registration.neighborhood %>
    </p>
    <p>
      <strong>Estado:</strong> <%= @buffet_registration.state %>
      <strong>Cidade:</strong> <%= @buffet_registration.city %>
      <strong>CEP:</strong> <%= @buffet_registration.zip %>
      <strong>Complemento:</strong> <%= @buffet_registration.complement %>
    </p> 
  </div>
<% end %>




<% if locals[:outsider]  %>

    <div id = "outsiderBuffet">

    <h3>Qual o Endereço onde será realizado o serviço?</h3>
    <%= locals[:form].fields_for :customer_address, @order.customer_address || CustomerAddress.new do |f_address|%>
      <div>
        <strong> <%= f_address.label :public_place %> </strong>
        <%= f_address.text_field :public_place %>
        <strong> <%= f_address.label :address_number %> </strong>
        <%= f_address.text_field :address_number%>
        <strong> <%= f_address.label :neighborhood %> </strong>
        <%= f_address.text_field :neighborhood%>
      </div>
      <div>
        <strong> <%= f_address.label :state %> </strong>
        <%= f_address.text_field :state%> 
        <strong> <%= f_address.label :city %> </strong>
        <%= f_address.text_field :city %> 
        <strong> <%= f_address.label :zip %> </strong>
        <%= f_address.text_field :zip%> 
        <strong> <%= f_address.label :complement %> </strong>
        <%= f_address.text_field :complement %> 
      </div>
    <% end %>
  </div>
<% end %>


