<h2>Solicitação de Serviço de Buffet</h2>
<p><strong>Nome do Buffet:</strong> <%= @event_type.buffet_registration.trading_name %> </p>
<p><strong>Telefone:</strong> <%= @buffet_registration.phone %> </p>
<p><strong>E-mail:</strong> <%= @buffet_registration.email %> </p>
<h4>Valores:</h4>

<p>
  <strong>Preço base</strong> considerando a <strong>quantidade mínima</strong> de pessoas (<%= @event_type.minimum_quantity %>) e 
  <strong>duração padrão</strong> do evento  de <%= @event_type.duration %> minutos: 
  <%= number_to_currency(@event_type.working_day_price.base_price) %>
  <% if @event_type.different_weekend %>
    <strong>em dia útil</strong> e final de semana <%= number_to_currency(@event_type.weekend_price.base_price) %>.
    <% else %>
    .
  <% end %> 

</p>

<p>
  <strong>Incremento do preço base por pessoa acima</strong> da quantidade mínima: 
  <%= number_to_currency(@event_type.working_day_price.price_per_person) %>
  <% if @event_type.different_weekend %>
     em <strong>dia útil</strong> e <%= number_to_currency(@event_type.weekend_price.price_per_person) %> em <strong>final de semana.</strong>
  <% else %>
    .
  <% end %> 
</p>

<p>
  <strong>Incremento do preço base por exceder o tempo base</strong>: 
  <%= number_to_currency(@event_type.working_day_price.overtime_rate) %> / hora
  <% if @event_type.different_weekend %>
    em <strong>dia útil</strong> e <%= number_to_currency(@event_type.weekend_price.overtime_rate) %> / hora em <strong>final de semana</strong>
  <% else %>
  .
  <% end %> 
</p>

<p>
  O <strong>valor final</strong> está sujeito a <strong>alteração</strong> por parte do dono do buffet após a solicitação do pedido. 
</p>

<%= form_with model: [@event_type, @order] do |form| %>

  
  <% if @event_type.insider && @event_type.outsider %>
    <div>
      <strong>Onde será realizado o serviço? </strong>
      <%= form.radio_button :inside_the_buffet, true, onchange: 'displayAddress(this)' %>
      <strong><%= form.label :inside_the_buffet_true %></strong>
      <%= form.radio_button :inside_the_buffet, false, onchange: 'displayAddress(this)' %>
      <strong><%= form.label :inside_the_buffet_false %></strong>
    </div>
    <%=render 'address', locals: {insider: true, outsider:true, form: form}  %>
    <script>

      function displayAddress(element){
        if (element.value == 'true') {
          document.getElementById("outsiderBuffet").style.display = 'none' 
          document.getElementById("insiderBuffet").style.display = ''
        }else{
          document.getElementById("insiderBuffet").style.display = 'none'
          document.getElementById("outsiderBuffet").style.display = ''
        }
      }

      if (document.getElementById('order_inside_the_buffet_true').checked){
        displayAddress(document.getElementById('order_inside_the_buffet_true'))
      }else if(document.getElementById('order_inside_the_buffet_false').checked){
        displayAddress(document.getElementById('order_inside_the_buffet_false'))
      }

    </script>
  <% elsif @event_type.insider %>
    <div>
      <h3>Serviço só pode ser realizado <strong>dentro</strong> do Buffet</h3>
    </div>
    <%=render 'address', locals: {insider: true}  %>
  <% else %>
    <div>
      <h3>Serviço só pode ser realizado no local indicado pelo cliente abaixo:</h3>
    </div>
    <%=render 'address', locals: {outsider: true, form: form}  %>
  <% end %>
  

  <div>
    <strong><%= form.label :amount_of_people %></strong>
    <%= form.number_field :amount_of_people, min: @event_type.minimum_quantity , max: @event_type.maximum_quantity, step: 1 %>
    <strong>Quantidade mínima:</strong> <%= @event_type.minimum_quantity %> <strong>Quantidade máxima:</strong> <%= @event_type.maximum_quantity %>
  </div>

  <div>
    <strong><%= form.label :duration %></strong>
    <%= form.number_field :duration, min:1, step: 1 %>
    <strong>Duração Padrão:</strong> <%= @event_type.duration %> minutos
  </div>

  <div>
    <strong><%= form.label :date %></strong>
    <%= form.date_field :date %>
  </div>

  <div>
    <strong><%= form.label :observation %></strong>:
    <%= form.text_area :observation %>
  </div>

  <%= form.submit "Revisar Solicitação" %>

<% end %>

<%= button_to "Voltar", @event_type, method: :get %>

