<h1>Detalhes do Pedido <%= @order.code %></h1>
<h2>Status do Pedido: <%= t(@order.status) %></h2>

<div>
  <p><strong>Nome do Buffet:</strong> <%= @event_type.buffet_registration.trading_name %> </p>
  <p><strong>Telefone:</strong> <%= @buffet_registration.phone %> </p>
  <p><strong>E-mail:</strong> <%= @buffet_registration.email %> </p>
  <h5>Serviço contratado: <%= @event_type.name %></h5>
</div>


<div>
  <h3>Localização:</h3>
  <% if @order.inside_the_buffet %>
    <% address = @buffet_registration %>
    <h5>Serviço dentro do Buffet</h5>
  <% else %>
    <% address = @order.customer_address %>
    <h5>Serviço no endereço informado pelo cliente</h5>
  <% end %>

  <p>
    <strong>Logradouro:</strong> <%= address.public_place %> 
    <strong>N°:</strong> <%= address.address_number %> 
    <strong>Bairro:</strong> <%= address.neighborhood %>
  </p>
  <p>
    <strong>Estado:</strong> <%= address.state %>
    <strong>Cidade:</strong> <%= address.city %>
    <strong>CEP:</strong> <%= address.zip %>
    <strong>Complemento:</strong> <%= address.complement %>
  </p> 
</div>


<div>
  <h3>Participantes, Duração e Data</h3>
  <p><strong>Número de participantes no evento:</strong> <%= @order.amount_of_people  %></p>
  <p><strong>Duração do Evento:</strong> <%= @order.duration  %> minutos</p>
  <p><strong>Data do evento:</strong> <%= l(@order.date)  %> - <%= @order.type_of_day %></p> 
</div>


<% if @event_type.alcoholic_beverages || @event_type.decoration || @event_type.valet  %>
  <div>
    <h3>Serviços Adicionais Contratados:</h3>

      <% if @event_type.alcoholic_beverages && @order.extra_service.alcoholic_beverages %>
        <p>Serviço de bebida.</p>
      <% end %>

      <% if @event_type.decoration && @order.extra_service.decoration %>
        <p>Serviço de decorações.</p>
      <% end %>

      <% if @event_type.valet && @order.extra_service.valet %>
        <p>Serviço de estacionamento/valet.</p>
      <% end %>
  </div>

<% end %>



<div>
  <h3>Valores</h3>
  <p>
    <strong>Preço base</strong> considerando a <strong>quantidade mínima</strong> de pessoas (<%= @event_type.minimum_quantity %>) e 
    <strong>duração padrão</strong> do evento  de <%= @event_type.duration %> minutos: 
    <%= number_to_currency(@event_type.working_day_price.base_price) %>
    <% if @event_type.different_weekend %>
      <strong>em dia útil</strong> e final de semana <%= number_to_currency(@event_type.weekend_price.base_price) %>.
      <% else %>
      .
    <% end %> 

  </p>

  <p>
    <strong>Incremento do preço base por pessoa acima</strong> da quantidade mínima: 
    <%= number_to_currency(@event_type.working_day_price.price_per_person) %>
    <% if @event_type.different_weekend %>
      em <strong>dia útil</strong> e <%= number_to_currency(@event_type.weekend_price.price_per_person) %> em <strong>final de semana.</strong>
    <% else %>
      .
    <% end %> 
  </p>

  <p>
    <strong>Incremento do preço base por exceder o tempo base</strong>: 
    <%= number_to_currency(@event_type.working_day_price.overtime_rate) %> / hora
    <% if @event_type.different_weekend %>
      em <strong>dia útil</strong> e <%= number_to_currency(@event_type.weekend_price.overtime_rate) %> / hora em <strong>final de semana</strong>
    <% else %>
    .
    <% end %> 
  </p>

  <p>
    <strong>Valor calculado:</strong> <%= number_to_currency(@order.calculated_value) %>
  </p>


  
  <% if @order.waiting_for_buffet_review? %>

    <% if current_user.company? %>
      <h2>Qual será o valor final?</h2>
      <%= form_with model:@order, url: set_final_value_order_path do |form| %>
        <div>
          <strong><%= form.label :final_value, Order.human_attribute_name(:final_value)%></strong>
          <%= form.number_field :final_value, step: 0.01, min: 0 %>
        </div>
        <div>
          <strong><%= form.label :justification_final_value, Order.human_attribute_name(:justification_final_value) %></strong>
          <%= form.text_area :justification_final_value%>
          *Obrigatório caso o valor final seja diferente do valor calculado
        </div>
        <div>
          <strong><%= form.label :expiration_date%></strong>
          <%= form.date_field :expiration_date, min: Date.current, max: @order.date%>
        </div>
        <div>
          <strong>Forma de pagamento:</strong>
          <% @payment_method_availables.map(&:to_sym).each do |payment| %>
            
            <% if @order.buffet_registration.payment_method[payment] %>
              <%= form.radio_button :payment_method, payment %>
              <strong><%= form.label :"payment_method_#{payment}"  %></strong>
            <% end %>
            
          <% end %>
        </div>
        <%= form.submit "Cadastrar Valor Final" %>
      <% end %>

    <% else %>
      <h2>Valor Final: Aguardando analise do Buffet</h2>
    <% end %>     

  <% elsif @order.waiting_for_client_review? %>
    <h2>Valor Final: <%= number_to_currency(@order.final_value) %> </h2>
    <h3>Forma de pagamento: <%= BuffetRegistration.human_attribute_name(@order.payment_method) %></h3> 
    <h3>Prazo do aceite do cliente: <%= l(@order.expiration_date) %></h3>
    <h5>Justificativa do valor: <%= @order.justification_final_value %> </h5>
    
    <% if current_user.company? %>
      <%= form_with model:@order, url: set_final_value_order_path do |form| %>
        <%= form.submit "Editar Valor Final" %>
      <% end %>
    <% else %>
      <%= button_to "Confirmar Pedido", confirm_order_path(@order) %>
    <% end %> 
  <% elsif @order.approved? %>
    <h2>Valor Final: <%= number_to_currency(@order.final_value) %> </h2>
    <h3>Forma de pagamento: <%= BuffetRegistration.human_attribute_name(@order.payment_method) %></h3> 
    <h5>Justificativa do valor: <%= @order.justification_final_value %> </h5>
  <% end %>

    
  
  <p>
    O <strong>valor final</strong> é definido pelo <strong> dono do buffet </strong>  após a análise do pedido. 
  </p>

</div>



<% if current_user.company? %>

  
  <% if @orders_approved_this_date.any? %>
    <h2>Atenção: há <%= @orders_approved_this_date.size %> <%= t('pedido', count: @orders_approved_this_date.size ) %> 
    aprovado(s) para este dia</h2>
  <% end %>
  
  <% if @orders_waiting_for_client_review.any? %>
    <h2>Atenção: há <%= @orders_waiting_for_client_review.size %> <%= t('pedido', count: @orders_waiting_for_client_review.size ) %> 
    aguardando a aprovação do cliente para este dia</h2>
  <% end %>

   <% if @orders_waiting_for_buffet_review.any? %>
    <h2>Atenção: há <%= @orders_waiting_for_buffet_review.size %> <%= t('pedido', count: (@orders_waiting_for_buffet_review.size) ) %> 
    aguardando a sua avaliação para este dia</h2>
  <% end %>
  
<% end %>

<div id="review">
  
  
  <% if @order.evaluation %>
    <h3>Sua avaliação:</h3>
    Nota: <%= @order.evaluation.score %>/5 <br>
    Comentário: <%= @order.evaluation.comment %> <br>
    <% if @order.evaluation.images.attached? %>
    Imagens: <br>
      <% @order.evaluation.images.each do |image| %>  
       <%= image_tag image.variant(:thumb) %>
      <% end %>
    <% end %>
  <% elsif @available_for_evaluation %>
    <h3>Avalie o buffet</h3>
    <%= form_with model:[@order, @evaluation] do |form| %>

      <div>
        <%= form.label :score %>
        <%= form.number_field :score, in: 0..5, step: 1 %> entre 0 e 5
      </div>

      <div>
        <%= form.label :comment %>
        <%= form.text_area :comment, size: "30x5" %>
      </div>

      <div>
        <%= form.label :images, "Inserir Imagem:" %>
        <%= form.file_field :images, multiple: true, accept: "image/png, image/jpeg" %>
      </div>

      <%= form.submit "Avaliar" %>
    <% end %>
    
  <% end %>
  
</div>



<% if !@order.canceled? && !@order.approved? && current_user == @order.user  %>
  <%= button_to "Editar Pedido", edit_event_type_order_path(@order.event_type, @order), method: :get  %>
  Editar o pedido, ocasiona em uma nova análise pelo dono do buffet.
<% end %>


<% if !@order.canceled? && !@order.approved? %>
  <%= button_to "Cancelar Pedido", cancel_order_path(@order) %>
  Se cancelado, não há volta. 
<% end %>

<div>
  <br>
  <h2>Chat com o Dono do buffet:</h2>

  <div>
    <textarea style="width: 100%; height: 300px;">
      <%= @messages %>
    </textarea>
  </div>

  <div>
    <%= form_with url:send_message_order_path(@order) do |form| %>
      <%= form.text_area :message , style: "width: 50%;"%>
      <%= form.submit "Enviar" %>
    <% end %>
  </div>

 
</div>

  

