<%= form_with model:@event_type do |form| %>
  <div>
    <%= form.label :name%>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description%>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :minimum_quantity%>
    <%= form.number_field :minimum_quantity %>
  </div>

  <div>
    <%= form.label :maximum_quantity%>
    <%= form.number_field :maximum_quantity %>
  </div>

  <div>
    <%= form.label :duration%>
    <%= form.number_field :duration %>
  </div>

  <div>
    <%= form.label :menu%>
    <%= form.text_area :menu %>
  </div>

  <div>
    <%= form.label :insider%>
    <%= form.check_box  :insider %>
  </div>

  <div>
    <%= form.label :outsider%>
    <%= form.check_box  :outsider %>
  </div>

  <div>
    <%= form.label :alcoholic_beverages%>
    <%= form.check_box  :alcoholic_beverages %>
  </div>

  <div>
    <%= form.label :decoration%>
    <%= form.check_box  :decoration %>
  </div>

  <div>
    <%= form.label :valet%>
    <%= form.check_box  :valet %>
  </div>

  <div>
    Valores nos dias uteis e finais de semana
    
    <%= form.fields_for :working_day_price, @event_type.working_day_price || EventValue.new do |price_form|   %>
      <div>
        <%= price_form.label :base_price%>
        <%= price_form.number_field :base_price, min: 0, step: 0.01  %>
      </div>
      <div>
        <%= price_form.label :price_per_person%>
        <%= price_form.number_field :price_per_person, min: 0, step: 0.01 %>
      </div>
      <div>
        <%= price_form.label :overtime_rate%>
        <%= price_form.number_field :overtime_rate, min: 0, step: 0.01 %>
      </div>
    <% end %>

    <div>
      <%= form.label :different_weekend%>
      <%= form.check_box  :different_weekend, onclick:"displayDifferentValues(this)" %>
    </div>

      

    <% if @event_type.different_weekend %>
        <div id="weekend_price" style="display:hidden;">
    <% else %>
        <div id="weekend_price" style="display:none;">
    <% end %>

    Valor no Final de Semana
      <%= form.fields_for :weekend_price, @event_type.weekend_price || EventValue.new do |price_form|   %>
        <div>
          <%= price_form.label :base_price%>
          <%= price_form.number_field :base_price, min: 0, step: 0.01 %>
        </div>
        <div>
          <%= price_form.label :price_per_person%>
          <%= price_form.number_field :price_per_person, min: 0, step: 0.01 %>
        </div>
        <div>
          <%= price_form.label :overtime_rate%>
          <%= price_form.number_field :overtime_rate, min: 0, step: 0.01 %>
        </div>
      <% end %>
    </div>
    
      
  </div>

  

  <div>
    <div>
      <% if @event_type.images.attached? %>
        Imagens inseridas:
      
        <% @event_type.images.each_with_index do |image, index| %>  

          <div id= <%="div-#{index}"%> >
            <dd><%= image_tag image.variant(:medium) %></dd> 
            <%= form.submit "Remover Imagem-#{index+1}" %>
          </div>

        <% end %>
      <% end %>
    </div>
    <div>
      <%= form.label :images, "Inserir Imagem:" %>
      <%= form.file_field :images, multiple: true, accept: "image/png, image/jpeg" %>
    </div>
  </div>

  <%= form.submit "Salvar" %>
<% end %>

<script>
  function deleteImage(imgIndex){
    fetch(`./image/${imgIndex}`, {method: "get"})
    .then((response)=>{
        console.log(response)
        document.getElementById(`div-${imgIndex}`).remove()
    })
  }

  function displayDifferentValues(element) {
    if (element.checked){
      document.getElementById("weekend_price").style.display=""
    }else{
      document.getElementById("weekend_price").style.display="none"
    }
  }
</script>
