<!DOCTYPE html>
<html>
  <head>
    <title>OpenBuffet</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>

  <body>
    <header>
      <%= link_to root_path do %>
        <h1>Buffet Livre</h1>
      <% end %>
    </header>
    <main>
      <div>
        <%= alert %>   
        
        <% if notice.class == Array %>
          <ul>
            <h4>Há <%= notice.length %> erros encontrados: </h4>
          <% notice.each do |each_notice| %>
            <li> <%= each_notice %> </li>
          <% end %>
          </ul>
        <% else %>
          <%= notice %>
        <% end %>
        
      </div>

      <nav>
        
        <% if user_signed_in? %>
          <%= current_user.description %>
          <%= button_to 'Sair', destroy_user_session_path, method: :delete %>
          
          <% if  current_user.company && current_user.buffet_registration && current_user.buffet_registration.id %>
            <%= link_to 'Meu Buffet', buffet_registration_path(current_user.buffet_registration) %>
          <% end %>
    
        <% else %>
          <%= link_to 'Entrar/Registrar', new_user_session_path %>
        <% end %>
        
        
        <% unless request.path.include?("new") || request.path.include?("edit") || request.path.include?("sign")  %>
          <%= form_with url: search_buffet_registrations_path, method: :get do |form| %>
            <%= form.text_field :search, placeholder: "Nome, Cidade, Festas" %>
            <%= form.submit 'Pesquisar' %>
          <% end %>
        <% end %>
        
        
        
      </nav>

      <%= yield %>

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    </main>
  </body>
</html>
