<!DOCTYPE html>
<html>
  <head>
    <title>OpenBuffet</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <header>
      <%= link_to root_path do %>
        <h1>Buffet Livre</h1>
      <% end %>
    </header>
    <main>
      <div>
        <%= alert %>
        <%= notice %>
      </div>

      <nav>
        
        <% if user_signed_in? %>
          <%= current_user.description %>
          <%= button_to 'Sair', destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to 'Entrar/Registrar', new_user_session_path %>
        <% end %>
        
      </nav>

      <%= yield %>


    </main>
  </body>
</html>
